<section class="order about">
  <div class="container">
    <div class="">
      <div class="order-text-title double-title">
        <span>Лучшая</span> итальянская пиццерия!
      </div>
      <div class="order-text-message fw-bolder">
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem delectus enim facere itaque iusto magni, molestias nulla, optio perspiciatis provident sequi tempora tempore veritatis voluptatum?
      </div>
    </div>
    <div class="about-image">
      <img src="assets/images/pizza_big.png" alt="Piece of pizza">
      <img src="assets/images/pizza_big.png" alt="Piece of pizza">
    </div>
  </div>
</section>

<app-popup data="about component"></app-popup>
